@using L2PAPIClient.api ;
@using L2PAPIClient.DataModel
@{

    ViewData["Title"] = "AddHyperlink";
    //string courseId = ViewData["CourseId"].ToString();
    string courseId = "15ws-01262";
    L2PCourseInfoData course = L2PAPIClient.api.Calls.L2PviewCourseInfoAsync(courseId).Result;
    L2PHyperlinkElement hyperlink = new L2PHyperlinkElement();
}
    <div class="mdl-cell mdl-cell--12-col">
        <div align="right">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
        </div>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="LearningMaterials" class="mdl-navigation__link">Learning Materials</a></li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="SharedDocuments" class="mdl-navigation__link">Shared Documents</a></li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="Hyperlinks" class="mdl-navigation__link">Hyperlinks</a></li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="Assignments" class="mdl-navigation__link">Assignments</a></li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="Announcement" class="mdl-navigation__link">Announcements</a></li>
            <li class="mdl-menu__item">Emails</li>
            <li class="mdl-menu__item">Discussion Forum</li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="MediaLibrary" class="mdl-navigation__link">Media Library</a></li>
            <li class="mdl-menu__item"><a asp-controller="MyCourse" asp-action="Literature" class="mdl-navigation__link">Literarture</a></li>
        </ul>
    </div>
    <h2>Hyperlink</h2>
    <h4>@course.courseTitle</h4>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table">
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Title</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <form action="#"> @*<form action="@Url.Action("AddAnnouncement", "MyCourses")" method="post" > asp-action="AddAnnouncement" asp-controller="MyCourse">*@
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="Subject">
                                <label class="mdl-textfield__label" for="Subject">Text...</label>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Select File</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="url">
                                <label class="mdl-textfield__label" for="url">Text...</label>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Submit</button>
    </div>
//@hyperlink.description = title    
//@hyperlink.url = url